In [ ]:
#variables in python

# '#' used for comments

In [1]:
x = 5 #where x holds the value

y = 5

In [2]:
x + y

10

In [ ]:
#1 rule for declaring variable -----> there should be no gaps while declaring variables

In [3]:
# first name = 'sandeep' -----> invalid declaration

In [5]:
firstname = 'sandeep'
first_name = 'sandeep' 

# -----> valid declaration

In [ ]:
#2 rule for declaring variable -----> should not start with numbers

In [ ]:
# 1xyz = 1 -----> invalid declaration

In [6]:
xyz1 = 1 

# ------> valid declaration

In [ ]:
#3 rule for declartin variable -----> should not start with special character

In [ ]:
# $x = 5 -----> invalid declaration

In [16]:
abc = 5 

# -----> valid declaration

In [19]:
#introduction to Data Types in python: (python is a case sensitive language)
#1. String -----> str (immutable data type, cannot be changed once assigned)
#2. List -----> list
#3. Tuple -----> tuple
#4. Dictionary -----> dict

In [ ]:
# String can be denoted in three ways like 'A' or " A " or """ A """

In [34]:
name = 'sandeep viswa'
name1 = "sandeep viswa"
name2 = """sandeep viswa"""

In [35]:
print(name)
print(name1)
print(name2)

sandeep viswa
sandeep viswa
sandeep viswa

In [ ]:
# introduction to String methods

In [36]:
print(name.title()) #prints string with 1st letter as capital

Sandeep Viswa

In [37]:
print(name.upper()) #prints string in upper case

SANDEEP VISWA

In [39]:
print(name.lower()) #prints string in lower case

sandeep viswa

In [ ]:
# introduction to f strings

In [44]:
fname = 'sandeep'
lname = 'viswa'
    
full_name = f"{fname} {lname}" 
print(full_name)

sandeep viswa

In [49]:
fname = 'sandeep'
lname = 'viswa'
full_name = f" My Full Name is {fname} {lname}".title() #add a statement preceding string values
print(full_name)

 My Full Name Is Sandeep Viswa