In [ ]:
# introduction to 'for loop'

In [3]:
employees = ['deepika','lavanya','siva','satya']

print(employees)

['deepika', 'lavanya', 'siva', 'satya']

In [4]:
type(employees)

list

In [ ]:
#syntax of 'for loop' -----> for <temp variable> in <main variable>:

In [9]:
for emp in employees:
    
    print (emp)

deepika
lavanya
siva
satya

In [ ]:
# enhancement of 'for loop'
# automating the print statement

In [11]:
employees = ['deepika','lavanya','siva','satya']

print(employees)

['deepika', 'lavanya', 'siva', 'satya']

In [14]:
for e in employees:
    print(f"{e.title()}, you are eligible for car lease.")

Deepika, you are eligible for car lease.
Lavanya, you are eligible for car lease.
Siva, you are eligible for car lease.
Satya, you are eligible for car lease.

In [15]:
students = ('hari','arjun','vivek','yashwanth')

print(students)

('hari', 'arjun', 'vivek', 'yashwanth')

In [21]:
for stu in students:
    print(f"Hi {stu.title()}, Check your timetable and confirm.")
    
    print(f"Thank you\n")

Hi Hari, Check your timetable and confirm.
Thank you

Hi Arjun, Check your timetable and confirm.
Thank you

Hi Vivek, Check your timetable and confirm.
Thank you

Hi Yashwanth, Check your timetable and confirm.
Thank you

In [ ]:
# 'for loop' for numerical list, last value in the range is always exclusive

In [25]:
for value in range(1,20): # this loop displays numbers only till 19 hence the last number is exclusive
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# to print even numbers: 1 - 10. Range is also having a step count validation

In [3]:
even_num = list(range(2,10,2))

In [4]:
print(even_num)

[2, 4, 6, 8]